<%- include('../Includes/header.ejs') -%>
<link rel="stylesheet" href="/CSS/login.css">
</head>
<body>
<%- include('../Includes/navbar.ejs') -%>
<main>
    <div class="login-page">
        <div class="form">
          <h4>Login With Your Details</h4>
          <%if(userVerification){%>
            <p class="text-danger"><%=userVerification%></p>
          <%}%>
          <form class="login-form " action="/PostLogin" method="POST">
            <input type="text" name="email" placeholder="Enter Your Email-ID"/>
            <div>
              <%if(mailData){%>
                <p class="text-danger"><%=mailData%></p>
              <%}%>
            </div>
            <input type="password" name="password" placeholder="Enter Your Password"/>
            <div>
              <%if(passwordData){%>
                <p class="text-danger"><%=passwordData%></p>
              <%}%>
            </div>
            <button type="submit">login</button>
            <p class="message">Foget Password? <a href="/emailForForgetPass">Click Here</a></p>
          </form>
        </div>
      </div>
   
</main>

<%- include('../Includes/footer.ejs') -%>
